
body{
    background: black;
}

.table{
    background: red;
    padding: 10px;
    margin: 35px;
    float: left;
}

.cell{
    background: white;
    padding: 0px;
    border: solid black 1px;
    float: left;
}

.cellShot{
    background-image: url('ship.jpg');
    padding: 0px;
    border: solid black 1px;
    float: left;
}


.cellFail{
    background-image: url('water.jpg');
    padding: 0px;
    border: solid black 1px;
    float: left;
}